#这个是配置文件的模板，需要将其复制一份并命名为application.yaml，然后修改其中的数据库连接信息。

spring:
    datasource:
        url: jdbc:mysql://localhost:3306/TAFEIMALL?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
        username: root
        password: 1234
        driver-class-name: com.mysql.cj.jdbc.Driver
    application:
      name: tafeimall
mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
        id-type: auto

web:
    upload-path: D:/Code/TAFEI_MALL/image