<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xidian.tafei_mall.mapper.CartItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.xidian.tafei_mall.model.entity.CartItem">
        <id column="cart_item_id" property="cartItemId" />
        <result column="cart_id" property="cartId" />
        <result column="product_id" property="productId" />
        <result column="quantity" property="quantity" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cart_item_id, cart_id, product_id, quantity, created_at, updated_at
    </sql>

</mapper>
