<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xidian.tafei_mall.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.xidian.tafei_mall.model.entity.Order">
        <id column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="seller_id" property="sellerId" />
        <result column="total_amount" property="totalAmount" />
        <result column="payment_method" property="paymentMethod" />
        <result column="shipping_address_id" property="shippingAddressId" />
        <result column="status" property="status" />
        <result column="tracking_number" property="trackingNumber" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, user_id, seller_id, total_amount, payment_method, shipping_address_id, status, tracking_number. created_at, updated_at
    </sql>

</mapper>
