<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xidian.tafei_mall.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.xidian.tafei_mall.model.entity.Product">
        <id column="product_id" property="productId" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="price" property="price" />
        <result column="stock" property="stock" />
        <result column="is_free_shipping" property="isFreeShipping" />
        <result column="seller_id" property="sellerId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_id, name, description, price, stock, is_free_shipping, seller_id, created_at, updated_at
    </sql>

</mapper>
